# 必填
export HUAWEI_AK="HPUAT6HFEYS1ZK55LT60"
export HUAWEI_SK="6CYfD5a0x5bbkUxPm3tM2o9NCgTJ0CYPdWrITIHa"
export HUAWEI_PROJECT_ID="01f29acd906249abb46328f2cab3d2f5"   # 形如 3e77...bcc
export HUAWEI_REGION="cn-north-4"

# 可选：覆盖默认 endpoint；公网用 sis-ext，若后续走VPCEP就换成私网域名
export HUAWEI_SIS_ENDPOINT="https://sis-ext.cn-north-4.myhuaweicloud.com"

# 本服务 API Key（防止被未授权调用）
export BANK_ASR_TTS_API_KEY="super_secret_12345"
